.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-gap:10px;
    
}
.header{
    background: aquamarine;
    grid-column:1/3;
}

.side{

    background: lightpink;
    
}

.content{
    background: lightblue;
}
.footer{
    background: lightslategray;
    grid-column: span 3;
    
}