.container{
    border:2px solid #ff0000;
    margin:25px;
    padding: 10px;
    background-color: lightgreen;
}
.container>div{
    border: 1px solid darkblue;
    padding: 20px;
    margin: 10px;
}